@model Data.Dtos.HomePageDTOs.HomePageInfoDTO
@{
    ViewData["Title"] = "Manage";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-lg-12">
    <div class="card">
        <div style="margin: 20px">
            <select name="langId" class=" form-control" id="languageSelect">
                @foreach (var item in ViewBag.Languages)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="card-body">
            <h4 class="card-title">Home Page Info</h4>
            <div class="basic-form">
                <div class="form-group row">
                    <input id="Id" asp-for="Id" type="hidden" class="form-control input-default">

                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Title</label>
                    <div class="col-md-10">
                        <input id="Title" asp-for="Title" class="form-control input-default" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">MetaDescription</label>

                    <div class="col-md-10">
                        <input id="MetaDescription" asp-for="MetaDescription" class="form-control input-default" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">MetaKeywords</label>
                    <div class="col-md-10">
                        <input id="MetaKeywords" asp-for="MetaKeywords" class="form-control input-default" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">MetaAuthor</label>
                    <div class="col-md-10">
                        <input id="MetaAuthor" asp-for="MetaAuthor" class="form-control input-default" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">MetaPublisher</label>
                    <div class="col-md-10">
                        <input id="MetaPublisher" asp-for="MetaPublisher" class="form-control input-default" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">PhoneNumber</label>
                    <div class="col-md-10">
                        <input id="PhoneNumber" asp-for="PhoneNumber" class="form-control input-default" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Email</label>
                    <div class="col-md-10">
                        <input id="Email" asp-for="Email" class="form-control input-default" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-10 offset-md-2">
                        <button type="submit" id="submitBtn" class="btn btn-dark">Save</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>

    $(document).on('change', '#languageSelect', function () {
        var selectedLangId = $('#languageSelect').val();
        $.ajax({
            type: "GET",
            url: '/Admin/HomePageInfo/GetHomePageInfo?langId=' + selectedLangId,
            success: function (response) {
                if (response.success == true) {
                    $('#Id').val(response.data.id);
                    $('#Title').val(response.data.title);
                    $('#MetaDescription').val(response.data.metaDescription);
                    $('#MetaKeywords').val(response.data.metaKeywords);
                    $('#MetaAuthor').val(response.data.metaAuthor);
                    $('#MetaPublisher').val(response.data.metaPublisher);
                    $('#PhoneNumber').val(response.data.phoneNumber);
                    $('#Email').val(response.data.email);
                }
                else {
                    console.log(response.message);
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
    $(document).on('click', '#submitBtn', function () {
        var formData = {
            Id: $('#Id').val(),
            Title: $('#Title').val(),
            MetaDescription: $('#MetaDescription').val(),
            MetaKeywords: $('#MetaKeywords').val(),
            MetaAuthor: $('#MetaAuthor').val(),
            MetaPublisher: $('#MetaPublisher').val(),
            PhoneNumber: $('#PhoneNumber').val(),
            Email: $('#Email').val(),
            LangId: $('#languageSelect').val()
        };
        $.ajax({
            type: "POST",
            url: '/Admin/HomePageInfo/Save',
            data: formData,
            success: function (response) {
                if (response.success == false) {

                    console.log(response.message);
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
</script>