@model Data.Dtos.FooterDTOs.FooterDTO
@{
    ViewData["Title"] = "Manage";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-lg-12">
    <div class="card">
        <div style="margin: 20px">
            <select name="langId" class=" form-control" id="languageSelect">
                @foreach (var item in ViewBag.Languages)
                {
                    bool isSelected = ViewBag.SelectedLanguageId == item.Id;
                    if (isSelected)
                    {
                        <option selected value="@item.Id">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
        </div>
        <div class="card-body">
            <h4 class="card-title">Footer Manage</h4>
            <div class="basic-form">
                <div class="form-group row">
                    <input id="Id" asp-for="Id" type="text" class="form-control input-default" hidden>
                    <input id="LangId" asp-for="LangId" type="text" class="form-control input-default" hidden>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Description</label>
                    <div class="col-md-10">
                        <input id="Description" asp-for="Description" class="form-control input-default" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Address</label>

                    <div class="col-md-10">
                        <input id="Address" asp-for="Address" class="form-control input-default" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">PhoneNumber</label>
                    <div class="col-md-10">
                        <input id="PhoneNumber" asp-for="PhoneNumber" class="form-control input-default" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Email</label>
                    <div class="col-md-10">
                        <input id="Email" asp-for="Email" class="form-control input-default" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Image</label>
                    <div class="col-md-10">
                        <input id="File" asp-for="File" type="file" class="form-control input-default">
                        <div style="display: flex;justify-content: center;max-height: 500px;padding:10px; background: #0707131f;">
                            @if (Model?.ImageUrl == null)
                            {
                                <img style="max-width: 100%;object-fit: contain;" id="ImagePreview" src="~/Images/main.png" alt="Alternate Text" />
                            }
                            else
                            {
                                <img style="max-width: 100%;object-fit: contain;" id="ImagePreview" src="~/Images/@Model.ImageUrl" alt="Alternate Text" />
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-10 offset-md-2">
                        <button type="submit" id="submitBtn" class="btn btn-dark">Save</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(document).on('change', '#languageSelect', function () {
            let LanguageId = $('#languageSelect').val();
            window.location.href = `/Admin/Footer/Manage?languageId=${LanguageId}`;
        });

        $(document).on('click', '#submitBtn', function () {
            // var formData = {
            //     Id: $('#Id').val(),
            //     Title: $('#Title').val(),
            //     Description: $('#Description').val(),
            //     Address: $('#Address').val(),
            //     PhoneNumber: $('#PhoneNumber').val(),
            //     Email: $('#Email').val(),
            //     LangId: $('#languageSelect').val(),
            //     File: $('#File')[0].files[0]
            // };
            var formData = new FormData(); 
            formData.append('Id', $('#Id').val());
            formData.append('Title', $('#Title').val());
            formData.append('Description', $('#Description').val());
            formData.append('Address', $('#Address').val());
            formData.append('PhoneNumber', $('#PhoneNumber').val());
            formData.append('Email', $('#Email').val());
            formData.append('LangId', $('#languageSelect').val());
            formData.append('File', $('#File')[0].files[0]);
            $.ajax({
                type: "POST",
                url: '/Admin/Footer/Save',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.success === false) {
                        console.log(response.message);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
        $(document).on('change', '#File', function () {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#ImagePreview').attr('src', e.target.result);
            }
            reader.readAsDataURL(this.files[0]);
        });
    });

</script>