<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">

            <li class="nav-label">
                Components
            </li>
            <li>
                <a href="/Admin/HomePageInfo/Manage"><i class="mdi mdi-diamond"></i> <span class="nav-text">HomePage Info</span></a>
            </li>
            <li>
          
                <a href="/Admin/About/Manage"><i class="mdi mdi-diamond"></i> <span class="nav-text">About</span></a>
            </li>
            <li>
                <a href="/Admin/Slider/Manage"><i class="mdi mdi-diamond"></i> <span class="nav-text">Slider</span></a>
            </li>
            <li>
                <a href="/Admin/Services/Manage"><i class="mdi mdi-diamond"></i> <span class="nav-text">Services</span></a>
            </li>
            <li>
                <a href="/Admin/OurCompany/Manage"><i class="mdi mdi-diamond"></i> <span class="nav-text">Our Company</span></a>
            </li>
            <li>
                <a href="/Admin/ChooseUs/Manage"><i class="mdi mdi-diamond"></i> <span class="nav-text">Choose Us</span></a>
            </li>
            <li>
                <a href="/Admin/WorkingProcess/Manage"><i class="mdi mdi-diamond"></i> <span class="nav-text">Working Process</span></a>
            </li>
            <li>
                <a href="/Admin/WorkShowcase/Manage"><i class="mdi mdi-diamond"></i> <span class="nav-text">Work Showcase</span></a>
            </li>
            <li>
                <a href="/Admin/WhoWeAre/Manage"><i class="mdi mdi-diamond"></i> <span class="nav-text">WhoWeAre</span></a>
            </li>
            <li>
                <a href="/Admin/OurEmployees/Manage"><i class="mdi mdi-diamond"></i> <span class="nav-text">Our Employees</span></a>

            </li>
@*             <li>
                <a href="/Admin/ClientSays/Manage"><i class="mdi mdi-diamond"></i> <span class="nav-text">Client Says</span></a>

            </li> *@
            <li>
                <a href="/Admin/ContactUs/Manage"><i class="mdi mdi-diamond"></i> <span class="nav-text">Contact Us</span></a>

            </li>
@*             <li>
                <a href="/Admin/Footer/Manage"><i class="mdi mdi-diamond"></i> <span class="nav-text">Footer</span></a>
            </li> *@
            <li>
                <a href="/Admin/Language/List"><i class="mdi mdi-diamond"></i> <span class="nav-text">String Resources</span></a>

            </li>
        </ul>
    </div>
</div>