<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Main</li>
            <li>
                <a href="/Admin"><i class=" mdi mdi-view-dashboard"></i> <span class="nav-text">Dashboard</span></a>
            </li>


            <li class="nav-label">
                Components
            </li>
            <li>
                <a class="has-arrow" href="/Admin/Navbar/List" "><i class="mdi mdi-chart-bar"></i> <span class="nav-text">Navbar</span></a>
            </li>
            <li>
                <a class="has-arrow" href="/Admin/ChooseUs/List" "><i class="mdi mdi-email"></i> <span class="nav-text">Choose Us</span></a>
               
            </li>
            <li>
                <a href="Admin/ClientSays/List"><i class="mdi mdi-diamond"></i> <span class="nav-text">Client Says</span></a>
            </li>
            <li>
                <a href="widget-basic-card.html"><i class="mdi mdi-widgets"></i> <span class="nav-text">Contact Us</span></a>
            </li>
            <li>
                <a class="has-arrow" href="#"><i class="mdi mdi-diamond"></i> <span class="nav-text">Footer</span></a>
            </li>
            <li>
                <a class="has-arrow" href="#"><i class="mdi mdi-nfc-variant"></i> <span class="nav-text">Our Company</span></a>
            </li>
            <li>
                <a class="has-arrow" href="#"><i class="mdi mdi-table-edit"></i> <span class="nav-text">Our Employees</span></a>
               
            </li>
            <li>
                <a href="map-datamap.html"><i class="mdi mdi-map"></i> <span class="nav-text">Question</span></a>
            </li>
            <li>
                <a class="has-arrow" href="#"><i class="mdi mdi-google-pages"></i> <span class="nav-text">Regular Blogs</span></a>
                
            </li>
            <li>
                <a href="page-invoice.html"><i class="mdi mdi-square-edit-outline"></i> <span class="nav-text">Service</span></a>
            </li>
            <li>
                <a href="#" class="hass-arrow"><i class="mdi mdi-diamond></i> <span class="nav-text">Slider</span></a>
            </li>
            <li>
                <a href="#" class="hass-arrow"><i class="mdi mdi-diamond></i> <span class="nav-text">Social Link</span></a>
            </li>
            <li>
                <a href="#" class="hass-arrow"><i class="mdi mdi-diamond></i> <span class="nav-text">Who We Are</span></a>
            </li>
            <li>
                <a href="#" class="hass-arrow"><i class="mdi mdi-diamond></i> <span class="nav-text">Working Process</span></a>
            </li>
            <li>
                <a href="#" class="hass-arrow"><i class="mdi mdi-diamond></i> <span class="nav-text">Work Show Case</span></a>
            </li>
        </ul>
    </div>
    <!-- #/ nk nav scroll -->
</div>